1	is_pro:0	word_0:二零零五年 word_a:None pos:m pos_a_0:None_m pos_0_1:m_uj pos_0_1_2:m_uj_t pos_b_a:None_None word_a_pos_0:None_m pos_a_word_0:None_二零零五年 prep:0 is_trans:0 1st_ip_child:1 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:NP has_no_object:0 nt_in_ip:0
2	is_pro:0	word_0:的 word_a:二零零五年 pos:uj pos_a_0:m_uj pos_0_1:uj_t pos_0_1_2:uj_t_m pos_b_a:None_m word_a_pos_0:二零零五年_uj pos_a_word_0:m_的 prep:0 is_trans:0 1st_ip_child:0 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:DNP has_no_object:0 nt_in_ip:0
3	is_pro:0	word_0:夏天 word_a:的 pos:t pos_a_0:uj_t pos_0_1:t_m pos_0_1_2:t_m_q pos_b_a:m_uj word_a_pos_0:的_t pos_a_word_0:uj_夏天 prep:0 is_trans:0 1st_ip_child:0 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:NP has_no_object:0 nt_in_ip:0
4	is_pro:0	word_0:一 word_a:夏天 pos:m pos_a_0:t_m pos_0_1:m_q pos_0_1_2:m_q_p pos_b_a:uj_t word_a_pos_0:夏天_m pos_a_word_0:t_一 prep:0 is_trans:0 1st_ip_child:0 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:QP has_no_object:0 nt_in_ip:0
5	is_pro:0	word_0:个 word_a:一 pos:q pos_a_0:m_q pos_0_1:q_p pos_0_1_2:q_p_n pos_b_a:t_m word_a_pos_0:一_q pos_a_word_0:m_个 prep:0 is_trans:0 1st_ip_child:0 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:CLP has_no_object:0 nt_in_ip:0
6	is_pro:0	word_0:被 word_a:个 pos:p pos_a_0:q_p pos_0_1:p_n pos_0_1_2:p_n_v pos_b_a:m_q word_a_pos_0:个_p pos_a_word_0:q_被 prep:1 is_trans:0 1st_ip_child:1 first_word_in_subjectless_IP:1 first_word_in_subjectless_IP_pos:p first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:VP has_no_object:0 nt_in_ip:0
7	is_pro:0	word_0:人们 word_a:被 pos:n pos_a_0:p_n pos_0_1:n_v pos_0_1_2:n_v_d pos_b_a:q_p word_a_pos_0:被_n pos_a_word_0:p_人们 prep:0 is_trans:0 1st_ip_child:1 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:NP has_no_object:0 nt_in_ip:0
8	is_pro:0	word_0:期待 word_a:人们 pos:v pos_a_0:n_v pos_0_1:v_d pos_0_1_2:v_d_a pos_b_a:p_n word_a_pos_0:人们_v pos_a_word_0:n_期待 prep:0 is_trans:0 1st_ip_child:0 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:1 parent_lable:VP has_no_object:0 nt_in_ip:0
9	is_pro:0	word_0:已 word_a:期待 pos:d pos_a_0:v_d pos_0_1:d_a pos_0_1_2:d_a_uj pos_b_a:n_v word_a_pos_0:期待_d pos_a_word_0:v_已 prep:0 is_trans:0 1st_ip_child:1 first_word_in_subjectless_IP:1 first_word_in_subjectless_IP_pos:d first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:ADVP has_no_object:0 nt_in_ip:0
10	is_pro:0	word_0:久 word_a:已 pos:a pos_a_0:d_a pos_0_1:a_uj pos_0_1_2:a_uj_n pos_b_a:v_d word_a_pos_0:已_a pos_a_word_0:d_久 prep:0 is_trans:0 1st_ip_child:0 first_word_in_subjectless_IP:0 first_word_in_subjectless_IP_pos:None first_vp_child_after_pu:0 verb_in_np_vp:0 parent_lable:VP has_no_object:0 nt_in_ip:0
